body {
    background-color:#600000 ;
}

#header {
    color:#fff;
    width:100%;
}

#header #title {
    color:#fff;
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    font-weight:bolder;
    padding-top:25px;
    padding-left:50px;
    text-shadow: 6px 4px 6px #000000;

}

.img_circle {
    border-radius: 25%;
    margin-top:125px;
    height:200px;
    margin-left:85px;

    -moz-box-shadow:    23px 15px 100px -1px #000;
    -webkit-box-shadow: 23px 15px 100px -1px #000;
    box-shadow:         23px 15px 100px -1px #000;

}

.img-circle-random {
    border-radius: 25%;
    height:100px;
    margin-top:100px;
    margin-left:25px;

    -moz-box-shadow:    23px 15px 100px -1px #000;
    -webkit-box-shadow: 23px 15px 100px -1px #000;
    box-shadow:         23px 15px 100px -1px #000;
}
.flex-container {
    display:flex;
    align-content: center;
    justify-content: center;
    margin-bottom:100px;
}

#results-graph {
    margin-top: 125px;
    width:100%;
    margin-left:135px;

    -moz-box-shadow:    23px 15px 100px -1px #000;
    -webkit-box-shadow: 23px 15px 100px -1px #000;
    box-shadow:         23px 15px 100px -1px #000;
}
#profile-pic {
    margin-left: -15px;
    
}

.text-body {
    margin-top: 125px;
}

.twitter-box {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
}

#userInput {
    -moz-box-shadow:    23px 15px 100px -1px #000;
    -webkit-box-shadow: 23px 15px 100px -1px #000;
    box-shadow:         23px 15px 100px -1px #000;
}

#description {
    font-family: 'Roboto';
    text-align:center;
}

.row {
    color: #fff;
}

.twitter-result-display {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

/* #twitter_handle_title {

} */

/* #twitter_handle_title {
} */

  /*testing*/

#speech-bubble {
    margin-top:125px;
    position: relative;
    width: 500px;
    height: 450px;
    text-align: center;
    /* line-height: 100px; */
    background-color: #fff;
    border: 8px solid #000;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    /* -webkit-box-shadow: 2px 2px 4px #000;
    -moz-box-shadow: 2px 2px 4px #000;
    box-shadow: 2px 2px 4px #000; */

    -moz-box-shadow:    23px 15px 100px -1px #000;
    -webkit-box-shadow: 23px 15px 100px -1px #000;
    box-shadow:         23px 15px 100px -1px #000;

  }

  #speech-bubble:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 30px;
    top: 435px;
    border: 25px solid;
    border-color: #000 transparent transparent #000;
  }

  #speech-bubble:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 38px;
    top: 435px;
    border: 15px solid;
    border-color: #fff transparent transparent #fff;
  }

  /*Loader css*/
  #loading_loader {
    position: relative;
    color: rgba(0, 0, 0, .3);
    font-size: 5em;
    margin-top: 125px;
    

}
#loading_loader:before {
    content: attr(data-text);
    position: absolute;
    overflow: hidden;
    max-width: 7em;
    /* white-space: nowrap; */
    color: #fff;
    animation: loading 8s infinite;
}
@keyframes loading {
    0% {
        max-width: 0;
    }
}
